* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: green;
}

header nav {
    padding: 0.5rem 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;

}

nav>ul li {
    display: inline-block;
    margin: 0 0.5vmax;


}

nav>a {
    font-size: 1.4rem;
}


nav>ul li a {
    padding: 0.5rem 1.1rem;
    border-radius: 14px;
    transition: .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: white;
    list-style: none;
    transition: .2s ease-in;
    font-weight: 600;
    font-size: 0.9rem;

}


.down_bar {
    padding: 1rem 2rem;
    position: fixed;
    right: 0;
    top: 60px;
    border-left: 3px solid black;
    height: 100%;
    width: 30%;

}
.down_bar ul{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.down_bar li {
    list-style: none;
    margin: 0.5rem;
}

.down_bar ul li a {
    padding: 0.5rem;
    text-decoration: none;
    color: white;

}

.active,
.link:hover {
    color: black;
    background-color: white;

}
 .active2{
    color: black !important;
    font-weight: 600;
}

#bar_icon {
    display: none;
}

.down_bar {
    display: none;
}

.open {
    display: block;
}

#data-list i {
    transition: .2s;
}

/* #data-list:hover i{
    transform: rotate(180deg);
} */


@media(max-width:500px) {
    #bar_icon {
        display: block;
    }

    #myDIV {
        display: none;
    }

    .down_bar ul li {
        color: yellow;
        text-align: center;
    }
}

@media(max-width:300px) {
    .open {
        left: 10px;
        width: auto;
    }
}